
@{
    ViewBag.Title = "Gioithieu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Giới Thiệu</h2>
<p>Điện thoại di động đem lại rất nhiều lợi ích. Điều đầu tiên phải kể đến đó là để giữ liên lạc đơn giản và dễ dàng hơn. Điện thoại di động đã là một bước tiến trong việc liên lạc, tuy nhiên với những chiếc điện thoại di động cơ bản, con người chỉ có thể truyền và nhận những thông điệp đơn giản với âm thanh và tin nhắn ký tự.</p>
<br />
<p>Ngày nay với smartphone, dù đang ở bất cứ lúc nào hay ở bất cứ nơi đâu, chỉ cần một vài thao tác là bạn đã có vô số lựa chọn để kết nối với người thân, từ hội thoại kèm video, gửi tin nhắn có hình, chat tức thời và sinh động trên chat online, hay đơn giản là cập nhật trạng thái/hình ảnh trên Facebook...</p>
<br />
<p>Vì thế hãy đến cửa hàng của chúng tôi, với một chiếc smartphone bạn có thể trò chuyện với bạn bè, lướt web đọc báo, chơi game, nghe nhạc hay xem video một cách dễ dàng. Hơn thế với chiếc điện thoại bạn có thể gửi và nhận email không phụ thuộc máy vi tính, chụp ảnh lưu giữ khoảnh khắc như một chiếc máy ảnh thông thường, nắm tất cả thời gian, kế hoạch và địa điểm trong lòng bàn tay.</p>

