
@{
    ViewBag.Title = "Nhanlienhe";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Chúng tôi đã nhận được thông tin của bạn và sẽ liên hệ với bạn trong thời gian sớm nhất!</h2>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

